{% extends "base.html" %}

{% block title %}Boardgame Log API{% endblock %}

{% block nav %}{% endblock %}


{% block content %}
<h2>Existing Users</h2>
<ul id="userList" class="user-list">
    {% for user in users %}
        <li class="user-entry">
            <a href="{{ request.url_for('user_home', user_id=user.id) }}" class="btn_user">
                {{ user.name }}
            </a>
        </li>
    {% else %}
        <li>No users yet.</li>
    {% endfor %}
</ul>

<h2>Create a New User</h2>
<form id="add_user">
    <label for="username">Name:</label>
    <input type="text" id="username" name="username" required>
    <button type="submit" class="btn">Add User</button>
</form>

<p id="message"></p>

<script>
    document.getElementById("add_user").addEventListener("submit", addUser)

    async function addUser(e)
    {
        e.preventDefault();

        const username = document.getElementById("username").value;

        try {
            const response = await fetch("/user", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    username: username
                })
            });

            const data = await response.json();

            if (response.ok) {
                document.getElementById("addUser").reset();
                document.getElementById("message").textContent = data.message;

            } else {
                document.getElementById("message").textContent = data.error;
            }
        } catch (error) {
            document.getElementById("message").textContent = "Error: " + error;
        }
    }

</script>
{% endblock %}
