{% extends "base.html" %}

{% block title %}Movies - My Movie Database{% endblock %}

{% block nav %}
    <a href="{{ request.url_for('index') }}">Back to Users</a>
{% endblock %}


{% block content %}


<h2>Boardgames of {{ user.name }}</h2>

<h2>Existing Players</h2>
<ul id="playerList" class="player-list">
    {% for player in user.players %}
        <li class="player-entry">
            <p class="player-name">{{ player.name }}</p>
            <button class="btn-delete" onclick="deletePlayer({{ player.id }})">Delete Player</button>
            <p class="message" id="delete-player-msg"></p>
        </li>
    {% else %}
        <li>No players yet.</li>
    {% endfor %}
</ul>

<h2>Create a New Player</h2>
<form onsubmit="addPlayer(event)" id="addPlayer">
    <label for="playerName">Name:</label>
    <input type="text" id="playerName" name="playerName" required>
    <button type="submit" class="btn">Add Player</button>
</form>

<p class="message"></p>

<h3>Delete User</h3>
<button class="btn-delete" onclick="deleteUser({{ user.id }})">Delete User</button>

<p class="message" id="delete-user-msg"></p>

<script>
    function deleteUser(userID)
    {
        fetch("{{ request.url_for('delete_user', user_id=user.id) }}", {method: "DELETE" })
           .then(response => {
               if (response.ok) {
                   window.location.href = "{{ request.url_for('index') }}";
               }
               else {
                   document.getElementById("delete-user-msg").textContent = "Delete failed";
               }
           })
    }

    async function addPlayer(e)
    {
        e.preventDefault();

        const playerName = document.getElementById("playerName").value;

        try
        {
            const response = await fetch("{{ request.url_for('create_player', user_id = user.id) }}" + "?player_name=" + playerName, {method: "POST"});

            const data = await response.json();

            if (response.ok)
            {
                document.getElementById("addPlayer").reset();
                location.reload();
                document.getElementById("message").textContent = data.message;
            }
            else
            {
                document.getElementById("message").textContent = data.error;
            }
        } catch (error)
        {
            document.getElementById("message").textContent = "Error: " + error;
        }
    }

    async function deletePlayer(playerID)
    {
        fetch("{{request.url_for('delete_player', user_id=user.id) }}" + "?player_id=" + playerID, {method: "DELETE"})
            .then(response => {
                if (response.ok) {
                    location.reload();
                }
                else {
                    document.getElementById("delete-player-msg").textContent = "Delete failed";
                }
            })
    }
</script>
{% endblock %}
